.menu-container {
    margin-top: 4vw;
    margin-left: 5vw;
}

.burger-list {
    list-style: none;
}

.sides-list {
    list-style: none;
}

.drinks-list {
    list-style: none;
}

.add-button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 1vw;
    line-height: 0;
}

.menu-container_header {
    color: aquamarine;
}

@media (max-width: 400px) {
    .menu-container {
        margin-top: 0;
        margin-left: 0;
        padding-left: 10vw;
        padding-right: 10vw;
    }
}