.login-form-modal {
    display: flex;
    flex-direction: column;
    background-color: #181a1b;
    border: 2px solid #e8e6e3;
    position: absolute;
    width: 400px;
    height: 400px;
    overflow: scroll;
    margin-top: 50px;
    margin-right: 100px;
}

.login-form-modal_form {
    display: flex;
    flex-direction: column;
}

.login-form-modal_input {
    margin: 10px;
}

.login-form-button {
    margin: 10px;
}

.close-container {
    display: flex;
    flex-direction: row-reverse;
}

.login-form-modal_close {
    margin: 10px;
    width: 50px;
    height: 50px;
}

@media (max-width: 500px) {
    .login-form-modal {
        display: flex;
        flex-direction: column;
        background-color: #181a1b;
        border: 2px solid #e8e6e3;
        width: 350px;
        height: 350px;
        position: fixed;
        margin: 2vw;
        overflow: scroll;
    }
}